<div class="gallery-section">
    <div class="gallery">
        <div class="grid-sizer"></div>
        <div class="gs-item grid-wide set-bg" data-setbg="@Url.Content("~/img/gallery/gallery-1.jpg")">
            <a href="@Url.Content("~/img/gallery/gallery-1.jpg")" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="@Url.Content("~/img/gallery/gallery-2.jpg")">
            <a href="@Url.Content("~/img/gallery/gallery-2.jpg")" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="@Url.Content("~/img/gallery/gallery-3.jpg")">
            <a href="@Url.Content("~/img/gallery/gallery-3.jpg")" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="@Url.Content("~/img/gallery/gallery-4.jpg")">
            <a href="@Url.Content("~/img/gallery/gallery-4.jpg")" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="@Url.Content("~/img/gallery/gallery-5.jpg")">
            <a href="@Url.Content("~/img/gallery/gallery-5.jpg")" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item grid-wide set-bg" data-setbg="@Url.Content("~/img/gallery/gallery-6.jpg")">
            <a href="@Url.Content("~/img/gallery/gallery-6.jpg")" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
    </div>
</div>
