@model IEnumerable<PulseFit.Management.Web.Data.Entities.Workout>

@{
    ViewData["Title"] = "Index";
}


<h2>Available Workouts</h2>

<div>
    <a asp-action="Create" class="btn btn-primary mb-3">Create New Workout</a>
</div>

@if (!Model.Any())
{
    <div class="alert alert-info">No workouts found.</div>

}
else
{
    <!-- Search Formulary -->
    <form asp-action="Index" method="get" class="mb-4">
        <div class="row">
            <div class="col-md-3">
                <label for="searchTerm">Simple Search</label>
                <input type="text" name="searchTerm" class="form-control" placeholder="Name or Description">
            </div>
            <div class="col-md-3">
                <label for="type">Tipo</label>
                <select name="type" class="form-control">
                    <option value="">Select...</option>
                    <option value="Cardio">Cardio</option>
                    <option value="Strenght">Strenght</option>
                    <option value="Yoga">Yoga</option>
                    <option value="Cycling">Cycling</option>
                    <option value="Bumbum">Bumbum</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="difficulty">Workout Difficulty</label>
                <select name="difficulty" class="form-control">
                    <option value="">Select...</option>
                    <option value="Easy">Easy</option>
                    <option value="Medium">Medium</option>
                    <option value="Hard">Hard</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="status">Status</label>
                <select name="status" class="form-control">
                    <option value="">Select...</option>
                    <option value="Ongoing">Ongoing</option>
                    <option value="Cancelled">Cancelled</option>
                    <option value="Finished">Finished</option>
                </select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <label for="instructorName">Instructor</label>
                <input type="text" name="instructorName" class="form-control" placeholder="Instructor Name">
            </div>
            <div class="col-md-3">
                <label for="gymName">Gym</label>
                <input type="text" name="gymName" class="form-control" placeholder="Gym Name">
            </div>
            <div class="col-md-3 align-self-end">
                <button type="submit" class="btn btn-primary">Search</button>
                <a asp-action="Index" class="btn btn-secondary">Clear</a>
            </div>
        </div>
    </form>



    <!--Workouts Table -->

    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3 mb-4">
                    <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none; color: inherit;">
                        <div class="card h-100 shadow-sm">
                            <div style="width:100%; height: 200px; overflow:hidden;">
                                <img src="@Url.Content(item.WorkoutImageUrl)" alt="Workout Image" style="width:100%; height: 100%; object-fit: cover;" />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@item.Name @item.Popularity</h5>
                                <p class="card-text">
                                    @item.Description <br />
                                    @item.DifficultyLevel <br />
                                    @item.StartDate.ToString("dd/MM HH:mm") (@item.Duration Min.)
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
}