@model PulseFit.Management.Web.Models.ClientViewModel

@{
    ViewData["Title"] = "Create Client";
}

<h2>Create Client</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<form id="createClientForm" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="FirstName" class="form-label">First Name <span class="text-danger">*</span></label>
            <input asp-for="FirstName" class="form-control" required />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="LastName" class="form-label">Last Name <span class="text-danger">*</span></label>
            <input asp-for="LastName" class="form-control" required />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="Email" class="form-label">Email <span class="text-danger">*</span></label>
            <input asp-for="Email" type="email" class="form-control" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="Birthdate" class="form-label">Birth Date <span class="text-danger">*</span></label>
            <input asp-for="Birthdate" type="date" class="form-control" required />
            <span asp-validation-for="Birthdate" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Gender" class="form-label">Gender <span class="text-danger">*</span></label>
            <select asp-for="Gender" class="form-select" required>
                @foreach (var gender in Enum.GetValues(typeof(PulseFit.Management.Web.Data.Entities.Gender)))
                {
                    <option value="@gender">@gender</option>
                }
            </select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="Address" class="form-label">Address <span class="text-danger">*</span></label>
        <input asp-for="Address" class="form-control" required maxlength="100" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="SubscriptionPlanId" class="form-label">Subscription Plan <span class="text-danger">*</span></label>
            <select asp-for="SubscriptionPlanId" class="form-select" required>
                <option value="">Select a Subscription Plan</option>
                @foreach (var plan in Model.SubscriptionPlans)
                {
                    <option value="@plan.Value">@plan.Text</option>
                }
            </select>
            <span asp-validation-for="SubscriptionPlanId" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Status" class="form-label">Status <span class="text-danger">*</span></label>
            <select asp-for="Status" class="form-select" required>
                @foreach (var status in Enum.GetValues(typeof(PulseFit.Management.Web.Data.Entities.Status)))
                {
                    <option value="@status">@status</option>
                }
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="ProfilePictureFile" class="form-label">Profile Picture</label>
            <input asp-for="ProfilePictureFile" type="file" class="form-control" id="clientPictureUpload" />
            <small class="form-text text-muted">Maximum file size: 2 MB</small> <!-- Indicação do tamanho máximo -->
            <span asp-validation-for="ProfilePictureFile" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label>Image Preview</label>
            <img id="imagePreview" src="@Model.ProfilePictureUrl" alt="Image Preview" style="max-width: 150px; max-height: 150px; border-radius: 10px;" />
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Create Client</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/formHelpers.js"></script>

    <script>
        setupImageUploadPreview("clientPictureUpload", "imagePreview");

        setupSweetAlertOnSubmit("createClientForm", "Client created successfully.", "Please correct the errors in the form.");
    </script>
}
