@model PulseFit.Management.Web.Models.GymViewModel

@{
    ViewData["Title"] = "Edit Workout";
}

<h2>Edit Workout</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<form id="editWorkoutForm" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="Name" class="form-label">Name <span class="text-danger">*</span></label>
            <input asp-for="Name" class="form-control" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Email" class="form-label">Email: <span class="text-danger">*</span></label>
            <input asp-for="Email" class="form-control" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="PhoneNumber" class="form-label">Phone Number: <span class="text-danger">*</span></label>
            <input asp-for="PhoneNumber" class="form-control" required />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Location" class="form-label">Location: <span class="text-danger">*</span></label>
            <input asp-for="Location" class="form-control" required />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="OpeningTime" class="form-label">Opening Time: <span class="text-danger">*</span></label>
            <input asp-for="OpeningTime" class="form-control" required />
            <span asp-validation-for="OpeningTime" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="ClosingTime" class="form-label">Closing Time: <span class="text-danger">*</span></label>
            <input asp-for="ClosingTime" class="form-control" required />
            <span asp-validation-for="ClosingTime" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="DayOff" class="form-label">DayOff <span class="text-danger">*</span></label>
            <select asp-for="DayOff" class="form-select" required>
                <option value="">Select DayOff</option>
                @foreach (var cert in Enum.GetValues(typeof(PulseFit.Management.Web.Data.Entities.Gym.GymDayOff)))
                {
                    <option value="@cert">@cert</option>
                }
            </select>
            <span asp-validation-for="DayOff" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Capacity" class="form-label">Capacity: <span class="text-danger">*</span></label>
            <input asp-for="Capacity" class="form-control" />
            <span asp-validation-for="Capacity" class="text-danger"></span>
        </div>
    </div>

    <!-- Status -->
    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="Status" class="form-label">Status <span class="text-danger">*</span></label>
            <select asp-for="Status" class="form-select" required>
                <option value="">Select Status</option>
                @foreach (var status in Enum.GetValues(typeof(PulseFit.Management.Web.Data.Entities.Gym.GymStatus)))
                {
                    <option value="@status">@status</option>
                }
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="GymImageFile" class="form-label">Profile Picture</label>
            <input asp-for="GymImageFile" type="file" class="form-control" id="gymPictureUpload" />
            <small class="form-text text-muted">Maximum file size: 2 MB</small> <!-- Indicação do tamanho máximo -->
            <span asp-validation-for="GymImageFile" class="text-danger"></span>
        </div>
    </div>

    <div class="mt-3 d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/formHelpers.js"></script>

    <script>
        setupSweetAlertOnSubmit("editWorkoutForm", "Gym updated successfully.", "Please correct the errors in the form.");
    </script>
}