@model IEnumerable<PulseFit.Management.Web.Data.Entities.OnlineClass>

@{
    ViewData["Title"] = "Index";
}


<h2>Available Online Classes</h2>

<div>
    <a asp-action="Create" class="btn btn-primary mb-3">Create New Class</a>
</div>

@if (!Model.Any())
{
    <div class="alert alert-info">No Classes found.</div>

}
else
{
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3 mb-4">
                    <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none; color: inherit;">
                        <div class="card h-100 shadow-sm">
                            <div style="width:100%; height: 200px; overflow:hidden;">
                                <img src="@Url.Content(item.ClassImageUrl)" alt="Class Image" style="width:100%; height: 100%; object-fit: cover;" />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@item.Title</h5>
                                <p class="card-text">
                                    @item.Description <br />
                                    @item.Category
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
}