@{
    Layout = "_Dashboard";
    ViewBag.PageTitle = "Alerts";
    ViewBag.SubPageTitle = "Unresolved Alerts";
}

@model IEnumerable<PulseFit.Management.Web.Data.Entities.Alert>

<h2 class="title-neon">Unresolved Alerts</h2>

@if (Model.Any())
{
    <ul class="list-group">
        @foreach (var alert in Model)
        {
            <li class="list-group-item card-neon">
                <p><strong>@alert.Message</strong></p>
                <p>
                    <span>Created by: <span class="text-gray">@alert.Employee.User.FirstName @alert.Employee.User.LastName</span></span><br />
                    <span>on: <span class="text-gray">@alert.CreatedAt.ToString("g")</span></span>
                </p>
                <form asp-action="MarkAsResolved" method="post" style="display:inline;">
                    <input type="hidden" name="id" value="@alert.Id" />
                    <button type="submit" class="btn btn-neon-green btn-sm">Mark as Resolved</button>
                </form>
            </li>
        }
    </ul>
}
else
{
    <p class="text-gray">No unresolved alerts.</p>
}
