@model PulseFit.Management.Web.Models.PersonalTrainerViewModel

@{
    ViewData["Title"] = "Personal Trainer Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Personal Trainer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Specialty</dt>
        <dd class="col-sm-10">@Model.Specialty</dd>

        <dt class="col-sm-2">Certification</dt>
        <dd class="col-sm-10">@Model.Certification</dd>

        <dt class="col-sm-2">Hire Date</dt>
        <dd class="col-sm-10">@Model.HireDate.ToShortDateString()</dd>

        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Model.Status</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">Profile Picture</dt>
        <dd class="col-sm-10">
            <img src="@Model.ProfilePictureUrl" alt="Profile Picture" style="width: 100px; height: auto;" />
        </dd>
    </dl>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
